.link
  %h2
    url:
    = @link.url
  %h2
    slug:
    = link_to @link.slug, url(:main, :slug, :slug => @link.slug)
  %h2
    visitors:
    %ul
    = partial 'links/visitor', :collection => @link.visitors
